@import url('https://fonts.googleapis.com/css2?family=Love+Light&family=Lovers+Quarrel&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  height: 100vh !important;
}

body {
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
}

h1 {
  position: absolute;
  color: #fff;
  font-size: 200px;
  font-family: 'Love Light', cursive;
  margin-left: calc(50vw - 280px);
  margin-top: calc(50vh - 200px);
}

p {
  font-family: 'Lovers Quarrel', cursive;
  color: #fff;
}

.title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #00f;
}

#loading p {
  height: 50px;
  width: 100px;
  font-size: 20px;
}